/Debug/*.exe
/Debug/*.ilk
/Debug/*.pdb
/.vs/Banking_study/v15/*.suo
/.vs/Banking_study/v15/*.db
/.vs/Banking_study/v15/*.opendb
/.vs/Banking_study/v15/ipch/*.ipch
/Banking_study/Debug/*.obj
/Banking_study/Debug/*.log
/Banking_study/Debug/*.pch
/Banking_study/Debug/Banking_study.tlog/*.lastbuildstate
/Banking_study/Debug/Banking_study.tlog/*.tlog
/Banking_study/Debug/Banking_study.tlog/*
/Banking_study/Debug/vc141.idb
/Banking_study/Debug/vc141.pdb
